* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #FCDA00;
}

.flex {
	display: flex;
}

.container {
	width: 1100px;
	margin: 0 auto;

}

.logo {
	width: 30%;
	margin: 20px;

}

.logo img {
	height: 40px;

}

.menu {
	width: 70%;
	margin-left: 685px;
	padding: 40px 8px;

}

.menu ul {}

.menu li {
	list-style-type: none;
	display: inline-block;
	padding: 5px;
}

.menu a {
	text-decoration: none;
	color: black;
	font-size: 21px;
}

.container2 {
	width: 1100px;
	margin: 0 auto;

}

.banner {
	background-color: #FCDA00;
	overflow: hidden;
}

.hedline {
	line-height: 38px;
}


#para1 {
	width: 400px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 20px;
	font-family: Berkshire Swash;

}

.para2 {
	width: 368px;

}



.bphoto {
	float: right;
	margin-right: 10px;
	margin-top: -171px;

}

.bphoto img {
	border: 15px solid white;
	border-radius: 15%;

}
